/*Class ._font_logo для шрифта не Airbug*/
/*без размера*/

/*шрифт кастомный для логотипа*/
.font_logo{
    font-family: 'Airbag';
    color: white;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}

/* для h1 первая секция Something nothing*/
.tagline{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #e8e8e8;
}

/*для h2 для заголовков каждой секции*/
.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #29323c;
    text-transform: uppercase;
}

/*для подписи секционніх заголовков*/
.title_description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2b3746;
    margin-top: 16px;
}

/*текст для кнопки шрифт*/
.text_button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;

}

/*скашивание углов и отступов для кнопок*/
.button{
    border-radius: 24px;
    padding: 15px 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*для секций если контет ограничен*/
.content{
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 0 60px 0;
    text-align: center;
}

/*для секции паддинги*/

/*полоска под описанием секции*/
.title_description::after{
    margin: 40px auto 60px auto;
    width: 40px;
    height: 3px;
    background-color: #545b63;
    display: block;
    content: "";
}

.clearfix:after{
    display: table;
    content: "";
    clear: both;
    overflow: hidden;
}
img{
    width: 100%;
}
.float_left {
    float: left;
}
.float_right{
    float: right;
}

