.section_title{
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
}
.section_description{
    font-size: 14px;
    font-weight: 400;
}
.work_image{
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    vertical-align: top;
}
.work{
    text-align: center;
    margin: 0 auto;
}
.example_work{
    font-size: 0;
}


